body
{
    background-color: #D8D8D8;
    text-align: center;
   margin:0 auto;
}

video
{
    padding-top: 20px;
    display: inline-block;
    width: 500px;
}
h1, h2
{
    font-family: Arial;
}
.terminal
{
    border-radius: 0.25em;
    text-family: monospace;
    padding: 0.4em 0.4em 0.4em 0.4em;
    display: inline;
    background-color: black;
    color: white;
}